<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>入れ子オブジェクトのテスト</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script th:src="@{/js/create-enquete.js}"></script>
	<link rel="stylesheet" th:href="@{/css/default.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/css/enquete.css}" type="text/css">
</head>

<body>
	<main>
		<div class="main-container">
			<div class="section">
				<h2>入れ子オブジェクトのテスト</h2>
				<form method="post" th:action="@{/nested}" th:object="${createEnqueteForm}" id="create-enquete-form">
					<div class="enquete">
						<h3>アンケート名</h3>
						<input type="text" th:field="*{enqueteName}" />
					</div>
					<th:block th:each="question, iterStatQuestion : *{createQuestionForms}">
						<div class="question-container" draggable="true">
							<div class="question">
								<h3 th:text="|Question ${iterStatQuestion.index + 1}|">Question 1</h3>
								<input type="text"
									th:field="*{createQuestionForms[__${iterStatQuestion.index}__].questionName}" />
								<th:block
									th:each="select, iterStatSelect : *{createQuestionForms[__${iterStatQuestion.index}__].createSelectForms}">
									<div class="select-container" draggable="true">
										<div class="select">
											<h4 th:text="|Select ${iterStatSelect.index + 1}|">Select 1</h4>
											<input type="text"
												th:field="*{createQuestionForms[__${iterStatQuestion.index}__].createSelectForms[__${iterStatSelect.index}__].selectName}" />
										</div>
										<div class="del-select-button">
											<button type="button" class="del-select">削除</button>
										</div>
									</div>
								</th:block>
								<div class="add-select-button">
									<button type="button" class="add-select">選択肢追加</button>
								</div>
							</div>
							<div class="del-question-button">
								<button type="button" class="del-question">設問削除</button>
							</div>
						</div>
					</th:block>
					<div class="add-question-button">
						<button type="button" class="add-question">設問追加</button>
					</div>
				</form>
			</div>
			<div class="create-enquete-button">
				<button type="submit" form="create-enquete-form">アンケート作成</button>
			</div>
		</div>
	</main>
</body>

<script th:inline="javascript">
	$(function(){
		const CREATE_QUESTION_FORMS = /*[[${createEnqueteForm.createQuestionForms}]]*/{};
		console.log(CREATE_QUESTION_FORMS);
	});
</script>

</html>